<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,900,900italic,400italic|Merriweather:400,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>

	<body>

	<nav>
	<h1><img src="http://www.entypo.com/images/direction.svg">Trip<span>Planner</span></h1>
	<ul>
		<li>About</li>
		<li>Contact</li>
	</ul>

	</nav>
	<div class="overlay">
		<div class='splash'>
		<p>Welcome to</p><br/>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Direction" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve" style="color: #000;">
		<path fill="#000" d="M18.06,1.941c-0.586-0.586-1.144-0.033-3.041,0.879C9.944,5.259,1.1,10.216,1.1,10.216L8.699,11.3  l1.085,7.599c0,0,4.958-8.843,7.396-13.916C18.092,3.085,18.645,2.527,18.06,1.941z M16.236,3.896l-5.519,10.247l-0.561-4.655  L16.236,3.896z"/>
		</svg><br/>

		<h1>Trip<span>Planner</span></h1>

		<label>Enter your name to start planning your dream vacation</label><br/>
		<input type='text' id="username" name="name">
		<input type="submit" value="Get started!" class="button splash-button"/>
		</div>
	</div>

	<section id="maparea">
	<p>map</p>
	</section>

	<section class="itinerary">
		<h2></h2>
		<h3>days</h3>
		<ul class="days">
			<li class="active"><a href="#" class="day-button" data-day="day1">1</a></li>
			<li><a href="#" class="day-button" data-day="day2">2</a></li>
			<li><a href="#" class="day-button" data-day="day3">3</a></li>
			<li><a href="#">+</a></li>
		</ul>

		<div class="list day1 active-day">
		<h3>My Hotels</h3>
		<ul>
			<li><a class="delete" href="#">×</a>Andaz Wall Street</li>
		</ul>
		<!-- Hotel form -->
		<form method="POST" action="/addhotel">
			<select>
				{% for hotel in hotels %}
					<option name="hotel" value="{{ hotel.name}}">{{ hotel.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add" />
		</form>


		<h3>My Restaurants</h3>
		<ul>
			<li><a class="delete" href="#">×</a>Bouley</li>
			<li><a class="delete" href="#">×</a>Joe’s Shanghai</li>

		</ul>
		<!-- Restaurant form  -->
		<form method="POST" action="/addrestaurant">
			<select>
				{% for restaurant in restaurants %}
					<option name="restaurant" value="{{ restaurant.name}}">{{ restaurant.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add" />
		</form>

		<h3>My Activities</h3>
		<ul>
			<li><a class="delete" href="#">×</a>South Street Seaport</li>
			<li><a class="delete" href="#">×</a>National September 11th Memorial & Museum</li>
		</ul>
		<form method="POST" action="/addactivity">
			<select>
				{% for activity in activities %}
					<option name="activity" value="{{ activity.name}}">{{ activity.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add"/>
		</form>

		</div>


		<div class="list day2">
		<h3>My Hotels</h3>
		<ul>
			<li><a class="delete" href="#">×</a>Double Tree</li>
		</ul>
		<!-- Hotel form -->
		<form method="POST" action="/addhotel">
			<select>
				{% for hotel in hotels %}
					<option name="hotel" value="{{ hotel.name}}">{{ hotel.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add" />
		</form>


		<h3>My Restaurants</h3>
		<ul>
			<li><a class="delete" href="#">×</a>Pylos</li>
			<li><a class="delete" href="#">×</a>Tamarind</li>

		</ul>
		<!-- Restaurant form  -->
		<form method="POST" action="/addrestaurant">
			<select>
				{% for restaurant in restaurants %}
					<option name="restaurant" value="{{ restaurant.name}}">{{ restaurant.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add" />
		</form>

		<h3>My Activities</h3>
		<ul>
			<li><a class="delete" href="#">×</a>Battery Park</li>
			<li><a class="delete" href="#">×</a>Apple Store</li>
			<li><a class="delete" href="#">×</a>Mahayana Temple Buddhist Association</li>
		</ul>
		<form method="POST" action="/addactivity">
			<select>
				{% for activity in activities %}
					<option name="activity" value="{{ activity.name}}">{{ activity.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add"/>
		</form>

		</div>

		<div class="list day3">
		<h3>My Hotels</h3>
		<ul>
			<li><a class="delete" href="#">×</a>US Pacific Hotel</li>
		</ul>
		<!-- Hotel form -->
		<form method="POST" action="/addhotel">
			<select>
				{% for hotel in hotels %}
					<option name="hotel" value="{{ hotel.name}}">{{ hotel.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add" />
		</form>


		<h3>My Restaurants</h3>
		<ul>
			<li><a class="delete" href="#">×</a>Hop Lee Restaurant</li>

		</ul>
		<!-- Restaurant form  -->
		<form method="POST" action="/addrestaurant">
			<select>
				{% for restaurant in restaurants %}
					<option name="restaurant" value="{{ restaurant.name}}">{{ restaurant.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add" />
		</form>

		<h3>My Activities</h3>
		<ul>
			<li><a class="delete" href="#">×</a>Blue Man Group</li>
			<li><a class="delete" href="#">×</a>Chinatown Ice Cream Factory</li>
			<li><a class="delete" href="#">×</a>Scott’s Pizza Tours</li>
			<li><a class="delete" href="#">×</a>Brooklyn Bridge Park</li>
		</ul>
		<form method="POST" action="/addactivity">
			<select>
				{% for activity in activities %}
					<option name="activity" value="{{ activity.name}}">{{ activity.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add"/>
		</form>

		</div>

		<button class="button">edit your itinerary</button>

	</section>


	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKisKCQ0T0I6va9owk60lgZ8Q7vZOcI-8&sensor=true"></script>
	<script type='text/javascript' src="/jquery.js"></script>
	</body>
</html>